<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="static/css/about-page.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/about-page.css">

</head>
<body>
<div class="header-elements">
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li id="nav-header">RAFFINATO</li>
                    <li><a href="{% url 'home' %}" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="{% url 'about' %}" class="nav-link px-2 text-white">About</a></li>
                </ul>

                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2"><a style="all:unset"
                                                                                href="{% url 'login' %}">Log in</a>
                    </button>
                    <button type="button" class="btn btn-outline-light me-2"><a style="all:unset"
                                                                                href="{% url 'profile_details' 1 %}">Profile</a>
                    </button>
                    <button type="button" class="btn btn-warning"><a style="all:unset" href="{% url 'register' %}">Register</a>
                    </button>
                </div>
            </div>
        </div>
    </header>
</div>
<main>
    <div class="main-header">
        <h2 class="about-header">About Us</h2>
        <img class="image-about"
             src="https://img.freepik.com/free-photo/handsome-elegantly-dressed-african-american-man-working-classic-menswear-store_613910-21798.jpg?w=1380&t=st=1692013765~exp=1692014365~hmac=08a9e69b5ea947b520f11294d5f6f1810c41da5160d7ba4a59616fd22fb5af52"
             alt="suits">
    </div>
    <div class="main-text">
        <h2 class="main-text-header">
            Italian roots,impeccable stitching and play of colors
        </h2>
        <p>
            Led by internationally renowned creative director Raffaele Acardi, the menswear collections combine
            contrasts between sporty and formal styles.
        </p>
    </div>
    <div class="image-main-text">
        <img class="image-text"
             src="https://img.freepik.com/free-photo/portrait-handsome-fashion-stylish-hipster-businessman-model-dressed-elegant-blue-suit-posing-gray_158538-11097.jpg?w=360&t=st=1692014174~exp=1692014774~hmac=153c96af3c5a787d7ad437b0ab637811a212e0ff97d60b8823bb13cde8660a38">
    </div>
</main>

</body>
</html>
